body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: Gold;
}

header {
    background-color: white;
    color: black;
    padding: 10px 0;
    border-bottom: 2px solid black;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.links-esquerda, .links-direita {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links-esquerda {
    margin-left: 25px;
}
.icone-sair {
    height: 40px;
    width: auto;
}
.links-esquerda a, .links-direita a {
    color: black;
    text-decoration: none;
    margin:  15px;
    padding: 0 20px;
}

.links-esquerda a:hover, .links-direita a:hover {
    text-decoration: underline;
}

.titulo {
    margin: 0 0 0 35px;
    flex: 79vh;
    text-align: center;
    font-family: 'Fontatica', sans-serif;
    font-size: 40px;
}
.formulario {
    font-size: small;
    text-align: end;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 20px;
    max-width: 568px;
    min-height: 220px;
    margin: 80px 0px 0px 30px;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}
.form-group label {
    margin-right: 5px;
    width: 90px;
}
.form-group input {
    flex: 1;
}
.formulario label {
    display: block;
    margin: 10px 0 0 10px;
}

.formulario input, .formulario textarea {
    width: 100%;
    padding: 5px;
    margin: 10px 80px 0 10px;
    border: 1px solid #ccc;
    border-radius: 0;
}

.formulario button {
    background: linear-gradient(180deg,#e0e0e0, #c0c0c0);
    background-color: gray;
    color: black;
    border: 1px solid #a0a0a0;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 40px;
    font-size: 16px;
    margin: 20px auto;
    display: block;
}

.formulario button:hover {
    background-color: #555;
}
.image-container {
    width: 600px; 
    height: 490px; 
    background-image: url("https://i.ibb.co/kqFsv30/Foto-fundo.png"); 
    background-size: 178%; 
    background-position: center;
    position: absolute; 
    top: 60%; 
    right: 1%;
    transform: translateY(-50%);
}
p {
    margin: 25px 0 0 47px; 
    text-align: left;  
    font-size:larger;
    font-weight:lighter ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.senhaecadastro {
    margin: 0 0 0 45px;
    font-size: smaller;
}
@font-face {
    font-family: "Fontatica";
    src: url("fonts/fontatica4F.otf") format(opentype);
    font-weight: bold;
    font-style:normal;
}
.raleway-font {
    font-family: "Raleway", sans-serif;
    font-weight: 400; 
}
